.form-upload-kyc{
  .btn.Ripple-parent{
    padding: 0;
  }
  .label-input{
    font-size: 14px;
    color: $grey-base;
  }
  i {
    cursor: pointer;
  }
}

.wrap-hide-payroll{
  .btn{
    padding: 0;
    margin: 0;
  }
}

// .alert .md-accordion .card:first-of-type, .md-accordion .card:not(:first-of-type):not(:last-of-type),.md-accordion .card{
//   border-bottom: 0!important;
// }
