.cursor-pointer {
  cursor: pointer;
}

.flex-row-center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-row-align-top{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-row-align-center{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-column-center{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.min-h500{
  min-height: 500px;
}
.modal-1000 {
  max-width: 1000px !important;

  .add-bank-modal {
    .md-form {
      margin-bottom: 1.5rem !important;
    }
  }

}
.modal-1000.stepper {
  .md-form {
    margin-bottom: 2rem !important;
  }
  .select-dropdown {
    .md-form {
      margin-bottom: 0px !important;
      .form-control{
        padding-left: 10px;
      }
    }
  }
  .md-form.mdb-select {
    line-height: 12px !important;
    top: 2px;
    margin-bottom: 34px !important;
  }

  .step-content{
    width: calc(100% - 3.13rem);
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .stepper-vertical li .step-content {
    &::after {
      position: absolute;
      top: 3.44rem;
      left: 2.4rem;
      width: 1px;
      height: calc(100% - 40px);
      content: "";
      background-color: rgba(0,0,0,0.1);
  }
}
  .form-date-picker {
    margin-top: 33px;
    margin-bottom: 0px !important;
    .date-type{
      margin-bottom: 10px !important;
    }
    .fake-label{
      margin-bottom: -25px;
      margin-top: -5px;
    }
    .react-datepicker-wrapper {
      margin-top: 10px;
    }
  }
  .stepper{
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 0px;
  }
  label{
    left:0px !important;
  }
  .md-form {
    label{
      text-align: left;
      width: max-content;
      font-size: 14px;
    }
  }

  .react-datepicker-wrapper {
    input{
       text-indent: 0px;
    }
  }
  .stepper-vertical li {
    &::after {
      display: none;
    }
  }

  .is-edited-user {
    display: block;
    padding: .94rem;
    margin-top: 0;
    // margin-left: 3.13rem;
    width: 100%;
  }
  .is-edited{
    overflow: inherit;
    margin: 0px;
  }
  .amount-number{
    ::-webkit-input-placeholder { /* Edge */
      font-size: 14px;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-size: 14px;
    }
    
    ::placeholder {
      font-size: 14px;
    }
  }
}
.work-break {
  word-break: break-word;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1;
}
.md-form label.active {
  transform: translateY(-25px) scale(0.8) !important;
}
.react-select-1 {
  z-index: 3;
}
.react-loading-skeleton{
  margin-bottom: 20px;
}
span.fake-label {
  text-align: left;
  width: max-content;
  font-size: 11px;
  left: 0px;
  display: block;
  margin-top: -10px;
  margin-bottom: -4px;
}
.none {
  display: none;
}
.select-wrapper>label.mdb-main-label.active {
  color: gray !important;
}
.md-form label.active {
  transform: translateY(-13px) scale(0.8) !important;
}
// .select-wrapper span.caret  {
//   background-image: url('/assets/images/chevron-down-solid.svg');
// }
#column-position{
  button{
    text-transform: capitalize !important;
  }
}
.date-type {
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  width: 100%;
  margin-bottom: 0px !important;
}
.block {
  display: block !important;
}
.other-job {
  min-height: 40px;
  .form-check{
    padding-left: 0px;
    padding-bottom: 5px;
  }
}
.md-form input:not([type]):focus:not([readonly])+label, .md-form input[type="text"]:not(.browser-default):focus:not([readonly])+label, .md-form input[type="password"]:not(.browser-default):focus:not([readonly])+label, .md-form input[type="email"]:not(.browser-default):focus:not([readonly])+label, .md-form input[type="url"]:not(.browser-default):focus:not([readonly])+label, .md-form input[type="time"]:not(.browser-default):focus:not([readonly])+label, .md-form input[type="date"]:not(.browser-default):focus:not([readonly])+label, .md-form input[type="datetime"]:not(.browser-default):focus:not([readonly])+label, .md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly])+label, .md-form input[type="tel"]:not(.browser-default):focus:not([readonly])+label, .md-form input[type="number"]:not(.browser-default):focus:not([readonly])+label, .md-form input[type="search"]:not(.browser-default):focus:not([readonly])+label, .md-form input[type="search-md"]:focus:not([readonly])+label, .md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #495057 !important;
}
.country-dropdown {
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  min-height: 40px;
  cursor: pointer;
  color: #495057 !important;
}
.company-information {
  .country-dropdown {
    margin-top: -2px;
  }
  .state-dropdown{
    margin-bottom: -2px !important;
  }
}
.remove-class {
    padding: 0px !important;
    height: initial !important;
    word-break: unset !important;
    white-space: nowrap !important;
    line-height: 20px !important;
    color: white !important;
    font-size: 14px !important;
}